@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #fddb31;
}

html {
  scroll-behavior: smooth;
  background-color: var(--dark);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer base {
  :root {
    --light: #ffffff;
    --dark: #272425;
    --accent: #fddb31;
    --secondary: #2b50aa;
    /* ... */
  }
}
